body {
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    font-family: 'Lobster Two', cursive;
    margin: 0;
}


/******** HEADER ********/
#header-nav {
    background-color: #f1bb32;
    border-radius: 0;
    border: 0;
}

/* Company Name */
.navbar-brand {
    padding-top: 25px;
    padding-bottom: 50px;
}
.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lobster Two', cursive;
    color: #030397;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

/* Menu */
#nav-list a {
    color: #edf14d;
    text-align: center;
    font-size: 1.25em;
}
#nav-list a:hover {
    background: #000000;
}
#nav-list a span {
    font-size: 1.75em;
}
#nav-list li {
    border: 1px solid #ffffff;
}
#nav-list li:nth-child(1) {
    background-color: #b46907;
}
#nav-list li:nth-child(2) {
    border-top: none;
    border-bottom: none;
    background-color: #550202;
}
#nav-list li:nth-child(3) {
    background-color: #446601;
}

/* Hamburger for pop up menu */
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #030397;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -55px;
}
/******** END HEADER ********/


/******** Main Content: ********/
#our-menu {
    color: #ffffff;
    padding: 10px;
    font-size: 1.75em
}
.row {
    margin: 0;
}
.menu-item-description {
    color: #e4dcdc;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: auto;
    border-radius: 0;
    border: 1px solid #000000;
}
.menu-item-description h3{
    color: #edf14d;
    font-weight: bold;
    font-size: 1.75em;
}
.menu-item-details {
    font-family: Arial, Helvetica, sans-serif;
}
.menu-item-description a {
    font-weight: bold;
    color: #edf14d;
}
#chicken {
    background-color: #b46907;
}
#beef {
    background-color: #550202;
}
#sushi {
    background-color: #446601;
}
/******** END Main Content ********/
